<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f758d5de88.js" crossorigin="anonymous"></script>
    <title>Index - Groupomania</title>
</head>

<body>
    <div id="main-layout">
        <header>
            <div id="head">

            </div>
            <div id="menu">
                <nav class="large-screen">
                    <ul>
                        <li>
                            <a href="#">Mon profil</a>
                        </li>
                        <li>
                            <a href="#">Ecrire un post</a>
                        </li>
                        <li>
                            <a href="#">Accueil</a>
                        </li>
                    </ul>
                </nav>
                <nav class="tight-screen">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-user-circle"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-paper-plane"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-home"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <main>
            <div id="content">
                <div class="post">
                    <div class="post-title">
                        <a href="#">Veni, vidi, vici... Veni, vidi, vici.ici... Veni</a>
                        <span>
                            <button class="btn-ico modif">
                                <i class="fas fa-pencil-alt orange"></i>
                            </button>
                            <button class="btn-ico">
                                <i class="fas fa-trash-alt red"></i>
                            </button>
                        </span>
                        <hr/>
                    </div> 
                   
                    <div class="post-body">
                        <div class="post-body-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eos voluptatibus magnam.
                            Quaerat, possimus voluptates, unde sit perferendis accusamus officiis mollitia, optio iure
                            omnis rerum vero deserunt cum repellendus! Saepe. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Veniam maxime doloremque, cumque cupiditate corrupti rem, nobis aspernatur
                            voluptatibus ducimus ipsa similique corporis velit quos illo id consequuntur fuga
                            repellendus! Minus!
                        </div>
                        <div class="post-body-photo">
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                            <!-- <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a> -->
                        </div>
                    </div>
                    <span class="post-author">
                        Ecrit par: <a href="#">Dimoto</a> à 25/05/2021 15h05
                        <br>
                        (dernier modification:
                        26/05/2021 21h50)
                    </span>
                    <span class="post-status">
                        <button class="btn-ico"><i class="far fa-thumbs-up green"></i></button>
                        <span class="counterLike">10</span>
                        <button class="btn-ico"><i class="far fa-thumbs-down"></i></button>
                        <button class="btn-ico"><i class="far fa-comment">25</i></button>
                    </span>
                </div>

                <div class="post">
                    <div class="post-title">
                        <a href="#">Exo title</a>
                        <span> DELETE</span>
                        <hr>
                    </div>
                    <div class="post-body">
                        <div class="post-body-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eos voluptatibus magnam.
                            Quaerat, possimus voluptates, unde sit perferendis accusamus officiis mollitia, optio iure
                            omnis rerum vero deserunt cum repellendus! Saepe.
                        </div>
                        <div class="post-body-photo">
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                            <!-- <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a> -->
                            <!-- <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a> -->
                        </div>
                    </div>
                    <span class="post-status">
                        <button class="btn-ico"><i class="far fa-thumbs-up"></i></button>
                        <span class="counterLike">10</span>
                        <button class="btn-ico"><i class="far fa-thumbs-down red"></i></button>
                        <button class="btn-ico"><i class="far fa-comment">25</i></button>
                        <span class="post-title-autor">Ecrit par: Dimoto</span>
                    </span>
                </div>

                <div class="post">
                    <span class="post-title"> <a href="#">Exo title</a>
                        <hr>
                    </span>
                    <div class="post-body">
                        <div class="post-body-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eos voluptatibus magnam.
                            Quaerat, possimus voluptates, unde sit perferendis accusamus officiis mollitia, optio iure
                            omnis rerum vero deserunt cum repellendus! Saepe.
                            lor
                        </div>
                        <div class="post-body-photo">
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                            <a href="#" class="post-body-photo-one">
                                <img src="./images/IMG_1632.JPG" alt="Exo title">
                            </a>
                        </div>
                    </div>
                    <span class="post-status">
                        <button><i class="far fa-thumbs-up"></i></button>
                        <span class="counterLike">10</span>
                        <button><i class="far fa-thumbs-down"></i></button>
                        <button><i class="far fa-comment"> 25</i></button>
                    </span>
                </div>

                <button class="btn-classic" value="0">
                    Afficher en plus
                </button>

            </div>
        </main>

        <footer>
            <ul>
                <li><a href="#">Contacter admin</a></li>
                <li><a href="#">Evenement à venir</a></li>
            </ul>
        </footer>

    </div>
</body>

</html>